.posterSize {
  width: 15rem;
  display: flex;
  margin: auto;
}

.movie-row > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* .button-align {
    text-align: center;
} */
