body {
  background-color: blanchedalmond;
}

.fullscreen {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-screen {
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 600px;
  background-color: rgba(105, 171, 241, 0.5);
}

.login-title {
  text-align: center;
}

.form {
  display: flex;
  gap: 20px;
}

.loginButton {
  padding-top: 5px;
}

.input-group {
  padding-bottom: 20px;
}

.input-group input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  padding: 10px;
  width: 100%;
}

.error {
  color: red;
}

.message {
  color: green;
}

.loginButton {
  text-align: center;
}

label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.signupLink {
  color: #000bff;
}
